@import "tailwindcss";

:root {
  --background: #09090b;
  /* Almost Black */
  --foreground: #fafafa;

  /* Obsidian Data Theme */
  --primary: #14b8a6;
  /* Teal 500 */
  --primary-hover: #0d9488;
  --secondary: #6366f1;
  /* Indigo 500 */
  --accent: #f43f5e;
  /* Rose 500 */

  --surface: #18181b;
  /* Zinc 900 */
  --surface-highlight: #27272a;
  /* Zinc 800 */
  --border: #3f3f46;
  /* Zinc 700 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

.glass-panel {
  background: rgba(24, 24, 27, 0.6);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.chart-bar {
  transition: width 1s cubic-bezier(0.4, 0, 0.2, 1);
}